fastapi
uvicorn[standard]
python-dotenv
pydantic

sqlalchemy
psycopg2-binary
alembic

requests
beautifulsoup4
feedparser
trafilatura
lxml_html_clean
newspaper3k
python-dateutil

google-genai

qdrant-client

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
sentence-transformers==3.0.1

celery[redis]
redis